/*
	Table Responsive
	===================
	Author: https://github.com/pablorgarcia
 */

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

:root {
	--text-color: #e7f3f5;
	--background-color: hsl(231, 11%, 23%);
	--background-color-8: hsl(203, 100%, 8%);
	--background-color-80: hsla(203, 95%, 23%, 0.293);
	--primary-color: #2ba981;
	--secondary-color: #6f2c51;
	--accent-color: #b85d4c;
}

body {
	display: flex;
	justify-content: center;
	font-family: "Open Sans", sans-serif;
	color: var(--text-color);
	background-color: var(--background-color);
	margin: 0;
	height: 100vh;
}

table {
	border-color: var(--background-color-80);
	border-width: 0.2rem;
	border-style: solid;
}

td {
	flex: 1;
	padding: 1rem;
	width: 20rem;
}

tr:first-child {
	background-color: var(--background-color-80);
}

tr:hover {
	background-color: var(--background-color);
	-webkit-box-shadow: 0 6px 6px -6px #0e1119;
	-moz-box-shadow: 0 6px 6px -6px #0e1119;
	box-shadow: 0 6px 6px -6px #0e1119;
}

td:hover {
	background-color: #fff842;
	color: #403e10;
	font-weight: bold;

	box-shadow: #7f7c21 -1px 1px, #7f7c21 -2px 2px, #7f7c21 -3px 3px,
		#7f7c21 -4px 4px, #7f7c21 -5px 5px, #7f7c21 -6px 6px;
	transform: translate3d(6px, -6px, 0);

	transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: line;
}

.container {
	display: flex;
}

.input {
	padding: 1rem;
	color: var(--text-color);
	background-color: var(--background-color-80);
	border-style: none;
	font-weight: bold;
}

option {
	/* Whatever color  you want */
	background-color: var(--background-color);
}

.days-count {
	float: right;
	font-size: smaller;
	font-weight: bold;
	color: #464a52;
}

.positive {
	color: var(--primary-color);
}

.negative {
	color: var(--accent-color);
}

.current-year-container {
	display: flex;
	width: 100%;
	height: 100%;
}

.previous-year-container {
	display: flex;
	width: 100%;
	height: 100%;
}

.title {
	font-size: xx-large;
	font-weight: bolder;
	padding: 1rem;
	text-align: center;
	color: var(--text-color);
}

#visa-page {
	display: flex;
	flex-direction: column;
	background-color: var(--background-color-8);
	padding: 2rem;
	border-radius: 1rem;
	margin: 2rem;
	width: 100vw;
}

@media (max-width: 900px) {
	td {
		padding: 0;
	}

	.container {
		display: inline-block;
	}

	.title {
		font-size: large;
		font-weight: bolder;
		padding: 1rem;
		color: var(--text-color);
	}
}
